---
import { Image } from "astro:assets"

interface Props {
	src: string
	alt: string
	class?: string | undefined
}

const { src, alt, class: className } = Astro.props
---

<div class={`${className} relative`}>
	<Image
		src={src}
		alt={alt}
		class="absolute left-0 top-0 h-full w-full"
		width={100}
		height={100}
		loading={"eager"}
	/>
</div>
